.study-vue-content {}

.study-vue-content .title {
    text-align: left;
    font-size: 30px;
    color: #8a8a8a;
}

.study-vue-content .divider {
    height: 1px;
    background-color: #dadada;
}

.study-vue-content .context {}
.study-vue-content .context .study-vue-item {
    margin-bottom: 10px;
}
.study-vue-content .context .study-vue-item .study-vue-item-title {
    font-size: 30px;
    text-align: left;
    color: #9c9c9c;
}

.study-vue-item-children-title {
    font-size: 24px;
    color: #686868;
    line-height: 24px;
}
.study-vue-item-children-description {
    font-size: 16px;
    color: #8a8a8a;
    line-height: 16px;
    margin-top: 8px;
}
.study-vue-item-children-content .study-vue-item-children-context {
    font-size: 18px;
    color: #6a6a6a;
    text-align: left;
}
.study-vue-item-children-content .study-vue-item-children-url {
    font-style: oblique;
    text-decoration: underline;
    color: #1890FF;
    text-align: right;
}
.study-vue-item-children-content .study-vue-item-children-url span {
    cursor: pointer;
}
