@keyframes big-img-show {
    0% { width: 0; }
    40% { width: 50vw; }
    60% { width: 35vw; }
    80% { width: 42vw; }
    100% { width: 40vw; }
}

.photo-wall-content {
    width: 500px;
}

.photo-wall-content .card-title {
    font-weight: bold;
    color: #9c9c9c;
    text-align: left;
    font-size: 17px;
}

.photo-wall-content .card-content {
    height: 400px;
}
.photo-wall-content .card-content .photo-show-button-item {
    width: 30px;
    height: 200px;
    transition: background-color .5s, color .5s;
    background-color: rgba(222, 222, 222, .1);
    color: rgba(188, 188, 188, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-wall-content .card-content .photo-show-button-item:hover {
    cursor: pointer;
    transition: background-color .5s, color .5s;
    background-color: rgba(188, 188, 188, .2);
    color: rgba(66, 66, 66, .6);
}

.photo-wall-content .card-content .photo-show-content {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-img-mb {
    width: 150px;
    height: 150px;
    background-color: black;
    line-height: 150px;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-img-mb .photo-wall-show-img {
    width: 150px;
    /*height: 150px;*/
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information {
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .title {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    text-align: left;
    overflow: hidden;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    max-height: 40px;
    overflow: auto;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .description::-webkit-scrollbar {
    display: none;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .divider {
    height: 1px;
    width: 100%;
    background-color: #cecece;
    margin: 5px 0;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .author-time {
    width: 100%;
    text-align: right;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .author-time .author {
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .author-time .time {
    width: 100%;
    margin-top: 3px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .features-list {
    margin-top: 40px;
    height: 14px;
    font-size: 14px;
    width: 100%;
    color: #1890FF;
    line-height: 14px;
    display: flex;
    flex-direction: row;
}
.photo-wall-content .card-content .photo-show-content .photo-wall-show-content .photo-wall-show-img-information .photo-wall-show-information .features-list .features-item {
    cursor: pointer;
    margin-right: 25px;
}

.photo-wall-content .card-content .divider {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: #dedede;
}

.photo-wall-content .card-content .photo-file-content {
    display: flex;
    flex-direction: column;
}
.photo-wall-content .card-content .photo-file-content .title {
    color: #8a8a8a;
    text-align: left;
    font-size: 18px;
}
.photo-wall-content .card-content .photo-file-content .content {
    height: 162px;
    overflow: auto;
}
.photo-wall-content .card-content .photo-file-content .content::-webkit-scrollbar {
    display: none;
}
.photo-wall-content .card-content .photo-file-content .content .content-item {
    height: 140px;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-title {
    text-align: right;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content {
    display: flex;
    flex-direction: row;
    height: 100px;
    line-height: 100px;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content .photo-list-item-list {
    width: 100px;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content .photo-list-item-list * {
    cursor: pointer;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content .photo-list-item-list .photo-list-item-list-item-mb {
    height: 80px;
    width: 80px;
    background-color: black;
    line-height: 80px;
    margin: auto;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content .photo-list-item-list .photo-list-item-list-item-mb img {
    /*height: 80px;*/
    width: 80px;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content .photo-list-item-list .img-name {
    height: 20px;
    margin: auto;
    width: 80px;
    line-height: 20px;
    overflow-x: hidden;
    word-break: keep-all;
}
.photo-wall-content .card-content .photo-file-content .content .content-item .photo-list-item-content .photo-list-item-list .img-name span {
    width: auto;
    white-space: nowrap;
}
.photo-wall-content .card-content .photo-file-content .content .content-item {
    height: 140px;
}

.photo-wall-big-content {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-wall-big-content img {
    animation: big-img-show 1s linear;
    width: 40vw;
}
