.music-play-content {
    width: 300px;
    margin-top: 5px;
}

.music-audio-content .music-information-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.music-audio-content .music-information-content .music-information-title {
    color: #808080;
}
.music-audio-content .music-information-content .music-information-name-content {
    color: #1890FF;
    text-align: right;
    width: 200px;
    height: 25px;
    line-height: 25px;
    overflow-x: hidden;
    word-break: keep-all;
 }
.music-audio-content .music-information-content .music-information-name-content span {
    width: auto;
    white-space: nowrap;
}

.music-audio-content .music-control-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    line-height: 35px;
}

.music-audio-content .music-control-content .music-control-button {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.music-audio-content .music-control-content .music-control-button .music-control-button-item {
    margin-right: 10px;
}
.music-audio-content .music-control-content .music-control-button .music-control-button-mode {
    cursor: pointer;
    color: #ababab;
}
.music-audio-content .music-control-content .music-control-button .music-control-button-mode:hover {
    color: #6a6a6a;
}

.music-play-content .card-title {
    font-weight: bold;
    color: #9c9c9c;
    text-align: left;
    font-size: 17px;
}
.music-play-content .music-audio-content {
    width: 100%;
    height: 80px;
}
.music-play-content .music-context {
    max-height: 200px;
    overflow: auto;
}
.music-play-content .music-context::-webkit-scrollbar {
    display: none;
}
.music-play-content .music-item-title {
    text-align: left;
    padding: 5px;
    font-size: 18px;
    color: gray;
}
.music-play-content .music-context .music-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
}
.music-play-content .music-context .music-item .music-item-status {
    width: 25px;
}
.music-play-content .music-context .music-item .music-item-name {
    text-align: right;
    width: 200px;
    height: 25px;
    line-height: 25px;
    overflow-x: hidden;
    word-break: keep-all;
    /*color: #FF7F50; #1890FF;*/
}
.music-play-content .music-context .music-item .music-item-name span {
    width: auto;
    white-space: nowrap;
}
.music-play-content .music-context .music-item .music-item-name span:hover {
    color: #1890FF;
    cursor: pointer;
}
